@media (min-width: 1600px) {
  .food-item {
    width: 400px;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .food-item {
    width: 270px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .food-item {
    width: 300px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .food-item {
    width: 350px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .food-item {
  }
}

@media (min-width: 0px) and (max-width: 576px) {
  .food-item {
  }
}
